<div layout:decorator="layout">
	<div layout:fragment="contents">
		<h3>kinop掲示板編集画面</h3>
		<p>編集してOKやたら更新て押してください</p>
		<br>
		<br>


 	<div th:each="message : ${message}">

	<th th:text="'あいでー：' + ${message.id}"></th>
　　　<th th:text="'タイトル2：' +  ${message.title}"></th>
</div>
<br>
			I D:<td th:text="${id}"></td>
			<br>
			タイトル：<p th:text="${title}"></p>
      		コメント： <p th:text="${comment}"></p>

<!-- <form method="post" action="/kinop_bbs" >
			タイトル：<input type="text" th:field="*{title}" />
<br>
<br>
			<input type="submit" value="　更新　" />
		</form> -->
<a href="/">
			<input type="button" value="キャンセル" /></a>
	</div>
</div>